@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500&display=swap');


*{
    margin:0;
    padding:0;
}

body{
    overflow-x: hidden;
}


.svg_fleche{
    width:30px;
    height: 30px;
    color:orange;
}




.page_presentation{
    width:100vw;
    min-height:100vh;
}

main{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 75px (100%-150px) 75px;
}


.cover-page_presentation{
    position: relative;
    grid-column: 1/12;
    width: 100%;
    height:300px;
    box-shadow: 10px 3px 3px 2px rgb(1, 1, 1);
}


.cover-page_presentation img{
    width: 50%;
    height:300px;
}


.img_p1{
    position:relative;
    left:-600px;
    animation: slideInLeft 1s ease forwards;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    background-color: #D6CC99;
}


.img_p2{
    position:relative;
    right:-600px;
    animation: slideInRight 1s ease forwards;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    background-color: #D6CC99;
}


.div_img_avatar{
    width: 250px !important;
    height: 250px !important;
    position:relative !important;
    bottom:275px;
    left: calc(50vw - 125px);
    opacity:0;
    border-radius: 50%;
    animation-name: appearsInShadow;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}



@keyframes appearsInShadow {
    0%{
        opacity:0;
        box-shadow: none;
    }
   
    60%{
        opacity: 1;
        box-shadow:inset 10px 10px 10px rgb(8, 8, 8);
        /* background-color: #2D3334; */
    }
    100% {
        opacity: 1;
        box-shadow:inset 10px 10px 10px rgb(8, 8, 8);
        background: url("/src/assets/me.png");
        background-size: cover;
    }
}



@keyframes slideInLeft {
    from {
      left: -600px;
    }
    to {
      left: 0;
    }
  }
  

  @keyframes slideInRight {
    from {
      right: -600px;
    }
    to {
      right: 0;
    }
  }

.description_pr{
    text-align: center;
    grid-column: 3/9;
    grid-row: 2/5;
    justify-items: center;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding:10px;
    min-height: 500px;
    
}

.div_title_pr{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:20px 0;

}

.title_pr{
    display:flex;
    align-items: center;
    font-family: 'Zen Dots', sans-serif;
    font-family: 'Audiowide', sans-serif;
    font-family: 'Aldrich', sans-serif;
    letter-spacing: -0.3px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    gap:10px;
    
   
}

.title_span_pr{
    border:none;
    background-color: transparent;
    color:#445D48;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    
}


span{ 
    /* modifier lui jaouter une classe specifique */
    color:#2D3334;
}

.div_core_pr{
    margin:30px 0;
}
.core_pr{
    font-family: 'Share Tech', sans-serif;
    font-family: 'Yantramanav', sans-serif;
    /* font-family: 'Inknut Antiqua', serif; */
    /* background-color: #D6CC99; */
    font-size: 1.3rem;
    color: #041e24;
    /* padding-right:100px; */
    line-height: 2.0rem;
    margin-bottom: 30px;  
    margin-top:80px;
}

.button_contact{
    font-family: 'Share Tech', sans-serif;
        /* font-family: 'Yantramanav', sans-serif; */

    background-color: #D6CC99;
    border: none;
    padding: 10px 20px;
    
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #2D3334;
    cursor: pointer;
    box-shadow: 2px 1px 1px 0px rgba(22, 21, 28, 0.75);
    margin-bottom: 30px;
    transition: all 0.5s ease-out;
    display: flex;
    align-items: center;
}

.button_contact:hover{
    background-color: #010101;
    color: orange;
}

.image_pr{
    /* background-color: red; */
    grid-column: 6/ 11;
    grid-row: 2/3;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    width: 100%;
}


.recherche_pr{

    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px 0;
    color:white;
    background-color: #010101;
    transform: rotate(3deg);
    font-family: 'Yantramanav', sans-serif;
    margin-bottom: 30px;
}

@media screen and (max-width:784px) {

    main{
        margin-top:0;
    }

    .div_img_avatar{
        bottom: 175px;
        left: calc(50vw - 50px);
    }

    .cover-page_presentation{
        height:200px;
    }

    .cover-page_presentation>img{
        height:200px;
    }

    .div_img_avatar{
       height: 125px !important;
       width: 125px !important; 
    }

    .div_img_avatar>img{
        height:125px !important;
        width:125px !important;
    }

    .title_pr{
        font-size: 32px;
    }

    .core_pr{
        font-size: 20px;
    }

    .recherche_pr{
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        padding: 4px;
    }

    .recherche_pr>span{
        background: none;
        padding:0 6px;
        margin:0;
    }
}


@media screen and (max-width:424px){

    .description_pr{
        grid-column: 2/10;
    }

    .core_pr{
        font-size: 17px;
        line-height: 1.4rem;
      
    }

    .div_core_pr{
        width: 100%;
    }
}